<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="reportForm">
    <ion-card class="card">
      <div class="col" style="margin-top: 10px;">
        <div>Report Head</div>
      </div>
      <div class="form-row">
        <div class="col">
          <select formControlName="select_head" class="form-control" name="heading">
            <option value="">Select Head</option>
            <option value="{{parseString(value)}}" *ngFor="let value of headingsArr">{{ value.heading}}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div>Remarks</div>
      </div>

      <div class="form-row">
        <div class="col">
          <textarea class="form-control" formControlName="tacomments" placeholder="Enter Remarks"></textarea>
        </div>
      </div>

      <ion-row>
        <ion-col size="12">
          <button type="submit" class="btn btn-warning" (click)="addNewRow()" style="float: right;margin: 20px;">Add</button>
        </ion-col>
      </ion-row>

      <div formArrayName="commentsitemRows">
        <ion-row>

          <div class="card gedf-card margin-bottom"
            *ngFor="let commentsitemrow of reportForm.controls.commentsitemRows.controls; let i=index" [formGroupName]="i"
            style="width: 100%;margin: 5px;">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="ml-2">
                    <div class="h7 text-danger"><b>{{getItembyKey('select_head',commentsitemrow,'heading')}}</b></div>                   
                    <div class="h7 text-dark">Remarks : {{commentsitemrow.get('tacomments').value}}</div>                    
                  </div>
                </div>
                <button type="button" class="btn btn-danger card-link ion-text-end btn-color" (click)="deleteRow(i)">
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </div>
            </div>
          </div>
  
        </ion-row>
      </div>
    </ion-card>
    

    <ion-row *ngIf="reportForm.controls.commentsitemRows.controls.length > 0">      
      <ion-col size="12">
        <button type="submit" class="btn btn-success" (click)="btn_save()" style="float: right;margin: 20px;">Submit</button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>