<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Approvals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-box">
    <ion-row>
      <ion-col size="6">
        <div class="card item-img" (click)="quoteapproval()">
          <div class="item">
            <img src="../../assets/img/palmoilquoteapproval.png" alt="Quote" />
            <div class="container txt-home">
              <p>Store Order Requisition</p>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="card item-img" (click)="workorderapproval()">
          <div class="item">
            <img src="../../assets/img/poapproval.png" alt="WorkOrder" />
            <div class="container txt-home">
              <p>Work Order</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
