<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'JOBBYENGINEER.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-box">
    <div class="card gedf-card margin-bottom" [style.background-color]="getcardcolor(value.machine_running_hours_reset_flag, value.category)" *ngFor="let value of planningArr">
      <div class="card-header">
        <div class="form-row">
          <div class="col">
            <div class="h7 text-danger" style="float: left;">ID: <b>{{value.jobid}}</b></div>
          </div>

          <div class="col">
            <div class="h7 text-danger" style="float: right;">Dt: <b>{{value.planningdate}}</b></div>
          </div>
        </div> 
      </div>
      <div style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px;">          
        <div class="h7 text-dark">{{ 'JOBBYENGINEER.station' | translate}}: {{value.station}}</div>
        <div class="h7 text-dark">{{ 'JOBBYENGINEER.machinery' | translate}}: {{value.machinery}}</div>
        <!-- <div class="h7 text-dark">Part: {{value.part}}</div> -->
        <div class="h7 text-dark">{{ 'JOBBYENGINEER.type' | translate}}: {{value.type}}</div>      
        <div class="h7 text-dark" *ngIf="value.remarks!=''">{{ 'JOBBYENGINEER.remarks' | translate}}: {{value.remarks}}</div>
        <!-- <div class="h7 text-dark" style="float: right;">{{ 'JOBBYENGINEER.date' | translate}}: {{value.planningdate}}</div>        -->
        <div class="h7 text-dark" style="float: right;" *ngIf="value.status!=''">Status: {{value.status}}</div>       
      </div>
      
      <ion-row class="row-reverse">
        <button type="button" class="h7 btn btn-outline-success btn-sm margin-5px" (click)="callmodalcontroller(value)">
          <ion-icon name="document"></ion-icon>
          {{ 'GENERALBUTTON.updatebutton' | translate}}
        </button>
      </ion-row>
    </div>

    <div style="margin-top: 65%;" *ngIf="enableflag==true"> 
      <ion-row>
        <ion-col class="h7 colalign">
          <p style="color: #e30414;">No Records Found</p>
        </ion-col>
        </ion-row>
    </div>
  </div>
</ion-content>
