<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Weekly Maintenance</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="weeklymaintenanceForm">
    <ion-card class="card">

      <div class="col" style="margin-top: 10px;">
        <div>Date</div>
      </div>

      <div class="form-row">
        <div class="col">
          <ion-datetime class="form-control" formControlName="maintenancedate" display-format="DD-MM-YYYY">
          </ion-datetime>
        </div>
      </div>

    <!-- <div class="col" style="margin-top: 10px;">
      <div>Year</div>
    </div>
    <div class="form-row">
      <div class="col">
        <select formControlName="year" class="form-control">
          <option value="" selected>Select Year</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
        </select>
      </div>
    </div> -->

    <!-- <div class="col">
      <div>Month</div>
    </div>

    <div class="form-row">
      <div class="col">
        <select formControlName="month" class="form-control">
          <option value="" selected>Select Month</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
      </div>
    </div> -->

    <!-- <div class="col">
      <div>Week</div>
    </div>

    <div class="form-row">
      <div class="col">
        <select formControlName="week" class="form-control">
          <option value="">Select Week</option>
          <option value="1">Week-1</option>
          <option value="2">Week-2</option>
          <option value="3">Week-3</option>
          <option value="4">Week-4</option>
        </select>
      </div>
    </div> -->
    </ion-card>

    <ion-card class="card">
      <form [formGroup]="machineForm">
        <div class="col" style="margin-top: 10px;">
          <div>Station</div>
        </div>

        <div class="form-row">
          <!-- <div class="col">
            <div class="h6 text-muted">Station :</div>
          </div> -->
          <div class="col">
            <select formControlName="station_name" class="form-control" name="station" (change)="onChangeStation()">
              <option value="">Select Station</option>
              <option value="{{parseString(value)}}" *ngFor="let value of stationArr">{{ value.station_name }}</option>
            </select>
          </div>
        </div>

        <div class="col">
          <div>Machinery</div>
        </div>

        <div class="form-row">
          <!-- <div class="col">
            <div class="h6 text-muted">Machinery :</div>
          </div> -->
          <div class="col">
            <select formControlName="select_location" class="form-control" name="location" (change)="onChangeLocation()">
              <option value="">Select Machinery</option>
    
              <option value=" {{ parseString(value)}}" *ngFor="let value of locatioArr">{{ value.location_name }}</option>
            </select>
          </div>
        </div>

        <div class="col">
          <div>Part</div>
        </div>

        <div class="form-row">
          <!-- <div class="col">
            <div class="h6 text-muted">Part :</div>
          </div> -->
          <div class="col">
            <select formControlName="select_part" class="form-control" name="parts">
              <option value="">Select Part</option>
              <option value="{{parseString(item)}}" *ngFor="let item of partArr">{{ item.item_name }}</option>
            </select>
          </div>
        </div>

        <div class="col">
          <div>Status</div>
        </div>

        <div class="form-row">
          <!-- <div class="col">
            <div class="h6 text-muted">MachineStatus :</div>
          </div> -->
          <div class="col">
            <select formControlName="select_status" class="form-control" name="machinestatus">
              <option value="">Select Status</option>
              <option value="{{parseString(value)}}" *ngFor="let value of machinestatusArr">{{ value.machine_status}}</option>
            </select>
          </div>
        </div>

        <div class="col">
          <div>Job</div>
        </div>

        <div class="form-row">
          <!-- <div class="col">
            <div class="h6 text-muted">Job :</div>
          </div> -->
      
          <div class="col">
            <textarea class="form-control" formControlName="tajob" placeholder="Enter a  Job"></textarea>
          </div>
        </div>

        <div class="col">
          <div>Comments/Remarks</div>
        </div>

        <div class="form-row">
          <!-- <div class="col">
            <div class="h6 text-muted">Comments/Remarks :</div>
          </div> -->
      
          <div class="col">
            <textarea class="form-control" formControlName="tacomments" placeholder="Enter Comments/Remarks"></textarea>
          </div>
        </div>

      <ion-row>
        <ion-col size="12">
          <button type="submit" class="btn btn-warning" (click)="addNewRow()" style="float: right;margin: 20px;">Add Machine</button>
        </ion-col>
      </ion-row>
      
      <div formArrayName="materialitemRows">
        <ion-row>
          <div class="card gedf-card margin-bottom"
            *ngFor="let materialitemrow of machineForm.controls.materialitemRows.controls; let i=index" [formGroupName]="i"
            style="width: 100%;margin: 5px;">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="ml-2">
                    <div class="h7 text-danger"><b>Station Name : {{getItembyKey('station_name',materialitemrow,'station_name')}}</b></div>
                    <div class="h7 text-dark">Machinery : {{getItembyKey('select_location',materialitemrow,'location_name')}}
                    </div>
                    <div class="h7 text-dark">Part : {{getItembyKey('select_part',materialitemrow,'item_name')}}</div>
                    <div class="h7 text-dark">Job : {{materialitemrow.get('tajob').value}}</div>
                    <div class="h7 text-dark">Comments/Remarks : {{materialitemrow.get('tacomments').value}}</div>
                    <div class="h7 text-dark"><b>Status : {{getItembyKey('select_status',materialitemrow,'machine_status')}}</b></div>
                  </div>
                </div>
                <button type="button" class="btn btn-danger card-link ion-text-end btn-color" (click)="deleteRow(i)">
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </div>
            </div>
          </div>  
        </ion-row>
      </div>
      </form>
    </ion-card>

    <ion-card class="card">
      <form [formGroup]="employeeForm">

        <div class="col" style="margin-top: 10px;">
          <div>Formen/Fitter</div>
        </div>

        <div class="form-row">
          <!-- <div class="col">
            <div class="h6 text-muted">Foreman/Fitter :</div>
          </div> -->
          <div class="col">
            <select formControlName="select_employee" class="form-control" name="employee">
              <option value="" >Select Formen/Fitter</option>
              <option value="{{parseString(value)}}" *ngFor="let value of employeeArr">{{ value.user_name}}</option>
            </select>
          </div>
        </div>

      <ion-row>
        <ion-col size="12">
          <button type="submit" class="btn btn-warning" (click)="addEmployeeNewRow()" style="float: right;margin: 20px;">Add Team</button>
        </ion-col>
      </ion-row>

      <div formArrayName="employeeitemRows">
        <ion-row>
          <div class="card gedf-card margin-bottom"
            *ngFor="let employeeitemrow of employeeForm.controls.employeeitemRows.controls; let i=index" [formGroupName]="i"
            style="width: 100%;margin: 5px;">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="ml-2">
                    <div class="h7 text-danger"><b>Foremen/Fitter : {{getItembyKey('select_employee',employeeitemrow,'user_name')}}</b></div>
                  </div>
                </div>
                <button type="button" class="btn btn-danger card-link ion-text-end btn-color" (click)="deleteEmployeeRow(i)">
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </div>
  
            </div>
          </div>
  
        </ion-row>
      </div>
      </form>
    </ion-card>

    <ion-row *ngIf="machineForm.controls.materialitemRows.controls.length > 0 && employeeForm.controls.employeeitemRows.length > 0">
      <ion-col size="12">
        <button type="submit" class="btn btn-success" (click)="btn_save()" style="float: right;margin: 20px;">Submit</button>
      </ion-col>
    </ion-row>

  </form>
  
</ion-content>
