.home-box {
  padding: 0px 10px 10px 10px;
}

.card {
  //background-color: #f5f1e4;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

form {
  padding: 5px;
}

.item-inner {
  border-style: unset !important;
}

.imagePreview {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-position: center center;
  background: url("../../../assets/img/noimage.png");
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.imagePresent {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-position: center center;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  width: 150px;
  font-size: 12px;
}

.btn-success {
  width: 150px;
  font-size: 12px;
}

.btn-warning {
  width: 150px;
  font-size: 12px;
}

.btn-upload {
  margin-top: -5px;
  display: block;
  border-radius: 0px;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.ion-text-end {
  float: right;
}

.bg-yellow {
  background-color: #474747;
  padding: 10px;
}

.form-row {
  margin: 5px;
}

.imgmarigin {
  margin-left: 10px;
}

.userfont {
  font-size: 12px;
}

.nopadding {
  padding-right: 6px !important;
}

hr {
  display: block;
  height: 1px;
  padding: 5px;
  border-top: 1px solid #c2c2c2;
}
