<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-title color="light">{{mill_name}}</ion-title>

    <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_notification()">
        <!-- <ion-badge *ngIf="count && count != 0" color="accent">{{ count }}</ion-badge> -->
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_weeklynotification()">
        <ion-badge *ngIf="weeklycount && weeklycount != 0" color="accent">{{ weeklycount }}</ion-badge>
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card class="bg-yellow card-height bottompad-10px" no-margin>
        <span class="mdfont common-whitecolor">{{userlist.welcome_msg}}</span>
      </ion-card>
    </ion-row>
  </ion-grid>

  <div class="home-box">
    <ion-row>
      <ion-col size="6">
        <div class="card item-img" (click)="preventivemaintenance()">
          <div class="item">
            <img src="../../assets/img/preventivemaintenance.png" alt="PREVENTIVEMAINTENANCE">
            <div class="container txt-home">
              <p>Preventive Maintenance</p>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="card item-img" (click)="wmaint()">
          <div class="item">
            <img src="../../assets/img/weeklymaintenance.png" alt="W MAINT">
            <div class="container txt-home">
              <p>Weekly Maintenance</p>
            </div>
          </div>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6">
        <div class="card item-img" (click)="shutdownmaintenance()">
          <div class="item">
            <img src="../../assets/img/shutdown.png" alt="SHUTDOWNMAINTENANCE">
            <div class="container txt-home">
              <p>ShutDown Maintenance</p>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="card item-img" (click)="communication()">
          <div class="item">
            <img src="../../assets/img/palmoilmillreport.png" alt="COMMUNICATION">
            <div class="container txt-home">
              <p>Maintenance Report</p>
            </div>
          </div>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6">
        <div class="card item-img" (click)="greasing()">
          <div class="item">
            <img src="../../assets/img/greasing.png" alt="GREASING">
            <div class="container txt-home">
              <p>Greasing</p>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="card item-img" (click)="lubricant()">
          <div class="item">
            <img src="../../assets/img/lubricant.png" alt="LUBRICANT">
            <div class="container txt-home">
              <p>Lubricant</p>
            </div>
          </div>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6">
        <div class="card item-img" (click)="report()">
          <div class="item">
            <img src="../../assets/img/communicationhistory.png" alt="REPORT">
            <div class="container txt-home">
              <p>Communication</p>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="card item-img" (click)="maint()">
          <div class="item">
            <img src="../../assets/img/orderrequest.png" alt="MAINT">
            <div class="container txt-home">
              <p>Order/Req Item</p>
            </div>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </div>
</ion-content>