<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'CHANGEPASSWORD.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="col-12">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <img src="../../assets/img/changepasswordlogo.png" class="img-responsive" alt="">
      </div>

      <div class="profile-usertitle" *ngIf="userlist">
        <div class="profile-usertitle-name">
          {{userlist.Username}}
        </div>
        <div class="profile-usertitle-job">
          {{userlist.department}}
        </div>
      </div>

    </div>
  </div>

  <div class="home-box">
    <form [formGroup]="changepasswordForm">

      <ion-card class="card">
        <div class="col" style="margin-top: 10px;">
          <div>{{ 'CHANGEPASSWORD.newpassword' | translate}}</div>
        </div>

        <div class="form-row" style="padding: 10px;">
          <div class="col">
            <input type="text" class="form-control" formControlName="newpassword"/>
          </div>
        </div>
        
        <ion-row>
          <ion-col size="12">
            <button type="submit" class="btn btn-success" (click)="btn_save()" style="float: right;margin: 20px;">{{ 'CHANGEPASSWORD.buttonchangepassword' | translate}}</button>
          </ion-col>
        </ion-row>
      </ion-card>
    </form>
  </div>

</ion-content>
