<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{chatdepartment}}</ion-title>
  </ion-toolbar>

  
  <ion-toolbar>
    <div class="home-box">
      <form [formGroup]="personalizedForm">
        <div class="form-row">
          <div class="col">
            <ion-datetime
              class="h7 form-control"
              formControlName="chat_date"
              display-format="DD-MM-YYYY"
              [max]="maxDate"
            ></ion-datetime>
          </div>

          <div class="col">
            <button
              type="button"
              class="h7 btn btn-outline-info btn-sm float-right"
              (click)="callAPI()"
            >
              <ion-icon name="chatbubbles-outline"></ion-icon>
              Get Chats
            </button>
          </div>
        </div>
      </form>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list lines="none">
    <ion-item *ngFor="let msg of messageArr">
      <div class="chat">
        <div class="bubble me">Hello there!</div>
        <div class="bubble you">
          Hi. I'm an expandeable chat box with box shadow. How are you? I expand
          horizontally and vertically, as you can see here.
        </div>
        <div class="bubble me">Awesome.</div>
      </div>
    </ion-item>
  </ion-list> -->

  <ion-grid>
    <ion-row *ngFor="let msg of messageArr">
      <ion-col
        size="9"
        *ngIf="currentUser != msg.userid"
        class="message other-message"
      >
        <div class="timeothermessage" text-right>{{ msg.date }}</div>
        <div>
          <b>{{msg.name}}</b><br />
          <span class="userfont">{{msg.comments}}</span><br />
          <!-- <div
            class="imagePresent"
            *ngIf="msg.imagelocation != ''"
            style="float: right"
          >
            <img
              class="imagePresent"
              (click)="viewimage(msg.imagelocation)"
              src="{{msg.imagelocation}} "
            />
          </div> -->

          <!-- <div
            class="imagePresent"
            *ngIf="msg.videolocation != ''"
            style="float: right"
          >
            <video class="imagePresent" (click)="viewvideo(msg.videolocation)">
              <source src="{{msg.videolocation}}" />
            </video>
          </div> -->
        </div>
      </ion-col>

      <ion-col
        offset="3"
        size="9"
        *ngIf="currentUser == msg.userid"
        class="message my-message"
      >
        <div class="timemymessage" text-right>{{ msg.date }}</div>
        <div>
          <b>{{msg.name}}</b><br />
          <span class="userfont">{{msg.comments}}</span><br />
          <!-- <div
            class="imagePresent"
            *ngIf="msg.imagelocation != ''"
            style="float: right"
          >
            <img
              class="imagePresent"
              (click)="viewimage(msg.imagelocation)"
              src="{{msg.imagelocation}} "
            />
          </div> -->

          <!-- <div
            class="imagePresent"
            *ngIf="msg.videolocation != ''"
            style="float: right"
          >
            <video class="imagePresent" (click)="viewvideo(msg.videolocation)">
              <source src="{{msg.videolocation}}" />
            </video>
          </div> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center no-padding>
      <!-- <ion-col size="2">
        <ion-button
          expand="block"
          fill="clear"
          class="msg-btn"
          (click)="presentActionSheet('PersonalizedCommunication')"
        >
          <ion-icon name="camera" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col> -->

      <ion-col size="10">
        <textarea
          autosize
          maxRows="4"
          [(ngModel)]="newMsg"
          class="message-input"
        ></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button
          expand="block"
          fill="clear"
          [disabled]="newMsg==''"
          class="msg-btn"
          (click)="btn_save()"
        >
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
