.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.home-box {
  padding: 10px 10px 10px 10px;
  margin-top: 40px;
}

form {
  padding: 10px;
}

.item-inner {
  border-style: unset !important;
}

.imagePreview {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-position: center center;
  background: url("../../../assets/img/noimage.png");
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.imagePresent {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-position: center center;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  width: 150px;
}

.btn-upload {
  margin-top: -5px;
  display: block;
  border-radius: 0px;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.tbl_head {
  background-color: #fac57a;
}

table {
  font-size: 11px;
  line-height: 1.42857143;
  color: #333;
  padding: 5px;
}
.table td,
.table th {
  padding: 0.3rem !important;
}
b {
  font-size: 13px;
}
.table_head {
  background-color: #fac57a;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.table_head1 {
  background-color: #90cdfc;
  font-weight: bold;
}

td {
  text-align: center;
  vertical-align: middle;
}
th {
  text-align: center;
  vertical-align: middle;
}

.imagePresent {
  width: 80px;
  height: 80px;
  background-position: center center;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.imagePreview {
  width: 80px;
  height: 80px;
  background-position: center center;
  background: url("../../../assets/img/noimageavailable.gif");
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.img-fluid {
  width: 100px;
}

.form-row {
  margin-bottom: 10px;
}

.h6 {
  font-size: 12px !important;
}

.imgUp {
  padding: 20px;
}

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #c2c2c2;
}
