<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Breakdown/Downtime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="row-reverse">
    <ion-col size="12">
      <button type="button" class="btn btn-outline-danger btn-sm margin-5px" (click)="btn_BreakdownDowntime()">
        <ion-icon name="cog"></ion-icon> New Breakdown/Downtime
      </button>
    </ion-col>
  </ion-row>
  <div class="home-box">
    <div class="card gedf-card margin-bottom" *ngFor="let value of breakdowndowntimelistArr">
      <div class="card-header" style="text-align: center;">
          <div class="h7 text-danger"><b>{{value.category}}</b></div>
      </div>
      <div style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px;">          
        <div class="h7 text-dark">Department: {{value.department}}</div>
        <div class="h7 text-dark">Station: {{value.stationname}}</div>
        <div class="h7 text-dark">Machinery: {{value.locationname}}</div>
        <div class="h7 text-dark">Part: {{value.part}}</div>
        <div class="h7 text-dark">Breakdown Time: {{value.breakdownTime}}</div>      
        <div class="h7 text-dark" *ngIf="value.complainantRemarks!=''">Complainant Remarks: {{value.complainantRemarks}}</div>
        <div class="h7 text-dark" style="float: right;">Date: {{value.insDate}}</div>
      </div>
    </div>
  </div>
</ion-content>
