<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <!-- <ion-back-button color="whitefav"></ion-back-button> -->
      <ion-button color="whitefav" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">{{ 'JOBDETAILS.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="maintenancedetailForm">
    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>{{ 'JOBDETAILS.category' | translate}}</b></div>
      </div>
      <div class="col">
        <div class="h7 text-dark">{{category}}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>{{ 'JOBDETAILS.station' | translate}}</b></div>
      </div>
      <div class="col">
        <div class="h7 text-dark">{{station}}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>{{ 'JOBDETAILS.machinery' | translate}}</b></div>
      </div>
      <div class="col">
        <div class="h7 text-dark">{{machinery}}</div>
      </div>
    </div>

    <!-- <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>Part</b></div>
      </div>
      <div class="col">
        <div class="h7 text-dark">{{part}}</div>
      </div>
    </div> -->

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>{{ 'JOBDETAILS.type' | translate}}</b></div>
      </div>
      <div class="col">
        <div class="h7 text-dark">{{type}}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>{{ 'JOBDETAILS.engineerremarks' | translate}} :</b></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{remarks}}
        </div>
      </div>
    </div>

    <hr />

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>{{ 'JOBDETAILS.observation' | translate}} <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_observation"
          class="h7 text-dark form-control"
        >
          <option value="" selected disabled hidden>{{ 'JOBDETAILS.selectobservation' | translate}}</option>
          <option
            value="{{item.observationid}}"
            *ngFor="let item of observationArr"
          >
            {{ item.observation }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>{{ 'JOBDETAILS.status' | translate}} <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_status"
          class="h7 text-dark form-control"
        >
          <option value="" selected disabled hidden>{{ 'JOBDETAILS.selectstatus' | translate}}</option>
          <option value="{{parseString(item)}}" *ngFor="let item of statusArr">
            {{ item.status }}
          </option>
        </select>
      </div>
    </div>

    <div>
      <div class="form-row">
        <div class="col">
          <div class="h7 text-dark">
            <b>{{ 'JOBDETAILS.remarks' | translate}} <sup>*</sup></b>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <textarea
            class="h7 form-control"
            formControlName="taremarks"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>{{ 'JOBDETAILS.personincharge' | translate}} <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_personincharge"
          class="h7 text-dark form-control"
        >
          <option value="" selected disabled hidden>
            {{ 'JOBDETAILS.selectpersonincharge' | translate}}
          </option>
          <option
            value="{{item.user_id}}"
            *ngFor="let item of personinchargeArr"
          >
            {{ item.user_name }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row imgmarigin">
      <label class="h7 text-dark"
        ><b>{{ 'JOBDETAILS.image' | translate}}</b></label
      >
      <div class="container">
        <div class="row">
          <div class="col-sm-8 nopadding" style="text-align: right">
            <div
              class="imagePreview"
              *ngIf="imagePaths.maintenanceplanningimagepath == ''"
            ></div>
            <div
              class="imagePresent"
              *ngIf="imagePaths.maintenanceplanningimagepath != ''"
            >
              <img
                class="imagePresent"
                [src]="imagePaths.maintenanceplanningimagepath"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 nopadding" style="text-align: right">
            <label class="btn btn-warning">
              {{ 'GENERALBUTTON.uploadbutton' | translate}}<input
                type="button"
                class="uploadFile img"
                value="Upload Photo"
                style="width: 0px; height: 0px; overflow: hidden; display: none"
                (click)="presentActionSheet('MaintenancePlanning')"
              />
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>{{ 'JOBDETAILS.totalrunninghours' | translate}}</b></div>
      </div>
      <div class="col">
        <div class="h6" [style.color]="gettextColor(resetflag)">
          <b>{{totalrunninghours}}</b>
        </div>
      </div>
    </div>

    <div class="form-row" *ngIf="resetflag<=0">
      <div class="col">
        <div class="h7 text-dark"><b>{{ 'JOBDETAILS.runninghours' | translate}}</b></div>
      </div>
      <div class="col">
        <div class="h6" [style.color]="gettextColor(resetflag)">
          <b>{{runninghours}}</b>
        </div>
      </div>
    </div>

    <div class="form-row" style="align-items: center" *ngIf="resetflag>0">
      <!-- <div class="col">
        <div class="h7 text-dark"><b>Running Hours</b></div>
      </div>
      <div class="col">
        <div class="h6" [style.color]="gettextColor(resetflag)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{runninghours}}</div>
      </div>
      <div class="col" style="text-align: right;">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="confirmShift()">
          <ion-icon name="refresh-outline"></ion-icon>
          Reset
        </button>
      </div> -->
      <ion-col size="6">
        <div class="h7 text-dark"><b>{{ 'JOBDETAILS.runninghours' | translate}}</b></div>
      </ion-col>
      <ion-col size="3">
        <div class="h6" [style.color]="gettextColor(resetflag)">
          <b>{{runninghours}}</b>
        </div>
      </ion-col>
      <ion-col size="3">
        <button
          type="button"
          class="btn btn-outline-danger btn-sm"
          (click)="confirmShift()"
        >
          <ion-icon name="refresh-outline"></ion-icon>
          {{ 'GENERALBUTTON.resetbutton' | translate}}
        </button>
      </ion-col>
    </div>

    <div style="text-align: center">
      <button
        type="submit"
        class="btn btn-success"
        (click)="save()"
        style="margin-top: 10px; margin-bottom: 10px"
      >
      {{ 'GENERALBUTTON.savebutton' | translate}}
      </button>
    </div>
  </form>
</ion-content>
