<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'REQUESTITEM.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="row-reverse">
    <ion-col size="12">
      <button
        type="button"
        class="h7 btn btn-outline-danger btn-sm margin-5px"
        (click)="btn_OrderRequest()"
      >
        <ion-icon name="document"></ion-icon> {{ 'REQUESTITEM.requestnewitem' |
        translate}}
      </button>
    </ion-col>
  </ion-row>

  <div class="home-box">
    <ion-row style="padding-bottom: 10px; width: 100%">
      <ion-label class="h7"
        >{{ 'REQUESTITEM.recentrequestitems' | translate}}</ion-label
      >
    </ion-row>

    <div>
      <div
        class="card gedf-card margin-bottom"
        *ngFor="let value of recentStore"
      >
        <div class="card-header">
          <div>
            <div>
              <div class="h7 text-danger">
                <b
                  >{{ 'REQUESTITEM.requesttype' | translate}}:
                  {{value.requesttype}}</b
                >
              </div>
              <!-- <div class="h7 text-muted">Department : {{value.department}}</div> -->
              <div class="h7 text-muted">
                {{ 'REQUESTITEM.requestfor' | translate}}: {{value.requestName}}
              </div>
              <div class="h7 text-muted">
                {{ 'REQUESTITEM.noofitems' | translate}}: {{value.noofitems}}
              </div>
              <div class="h7 text-dark">
                {{ 'REQUESTITEM.requestedby' | translate}}:
                {{value.requester_name}}
              </div>
              <div class="h7 text-dark" style="float: right">
                {{ 'REQUESTITEM.date' | translate}}: {{value.date}}
              </div>
            </div>
          </div>
        </div>
        <ion-row class="row-reverse" style="padding-top: 10px">
          <button
            type="button"
            class="h7 btn btn-outline-danger btn-sm margin-5px"
            (click)="confirmReceived(value)"
          >
            <ion-icon name="receipt"></ion-icon>
            {{ 'GENERALBUTTON.receivedbutton' | translate}}
          </button>

          <button
            type="button"
            class="h7 btn btn-outline-success btn-sm margin-5px"
            (click)="btn_detailAction(value)"
          >
            <ion-icon name="document"></ion-icon>
            {{ 'GENERALBUTTON.detailsbutton' | translate}}
          </button>
        </ion-row>
      </div>
    </div>

    <div style="margin-top: 60%;" *ngIf="enableflag==true"> 
      <ion-row>
        <ion-col class="h7 colalign">
          <p style="color: #e30414;">No Records Found</p>
        </ion-col>
        </ion-row>
    </div>
  </div>
</ion-content>
