<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">SignUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-userpic">
    <img
      src="../../../assets/img/changepasswordlogo.png"
      class="img-responsive"
      alt=""
    />
  </div>

  <div class="home-box">
    <form [formGroup]="signupForm">
      <ion-card style="padding: 10px">

        <div class="col" style="margin-top: 10px;">
          <div class="h7 text-dark">Username</div>
        </div>
        <ion-item class="ion-margin-bottom" lines="none">
          <ion-input class="h7 text-dark" type="text" placeholder="Enter Username" formControlName="username"></ion-input>
        </ion-item>

        <div class="col" style="margin-top: 10px;">
          <div class="h7 text-dark">Password</div>
        </div>
        <ion-item class="ion-margin-bottom" lines="none">
          <ion-input class="h7 text-dark" type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>

        <div class="col" style="margin-top: 5px; margin-bottom: 10px">
          <div class="h7 text-dark">Email ID</div>
        </div>

        <ion-item class="ion-margin-bottom" lines="none">
          <ion-input
            class="h7 text-dark"
            type="text"
            placeholder="Enter Email ID"
            formControlName="emailid"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" shape="round" (click)="btn_signup()" [disabled]="signupForm.invalid"
          >SignUp</ion-button
        >
      </ion-card>
    </form>
  </div>
</ion-content>
