<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'REPORTS.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf="userlist.desigId!='86' && userlist.desigId!='67'">
      <ion-item
        *ngFor="let eachitem of reportArr"
        (click)="btn_Action(eachitem)"
      >
        <ion-icon slot="start" name="newspaper-outline"></ion-icon>
        <ion-label class="h7">{{eachitem.title}}</ion-label>
      </ion-item>
    </div>

    <div *ngIf="userlist.desigId=='86'">
      <ion-item
        *ngFor="let eachitem of productionengineerArr"
        (click)="btn_Action(eachitem)"
      >
        <ion-icon slot="start" name="newspaper-outline"></ion-icon>
        <ion-label class="h7">{{eachitem.title}}</ion-label>
      </ion-item>
    </div>

    <div *ngIf="userlist.desigId=='67'">
      <ion-item
        *ngFor="let eachitem of mandorArr"
        (click)="btn_Action(eachitem)"
      >
        <ion-icon slot="start" name="newspaper-outline"></ion-icon>
        <ion-label class="h7">{{eachitem.title}}</ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
