<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-row style="padding: 10px;">
    <ion-col style="text-align: center">
      <div class="videoPreview"  *ngIf="videourl== ''"></div>
      <div class="videoPresent"  *ngIf="videourl != ''">        
        <video class="videoPresent" [autoplay]="true"><source src="{{videourl}}" type="video/mp4"> </video>
      </div>
    </ion-col>
  </ion-row>  
</ion-content>