.home-box {
    padding: 10px 10px 10px 10px;
    margin-top: 20px; 
}

form{
  padding:10px;
}

.img-home{
    margin: 0px 28px 0px 28px;
    padding: 15px 30px 0px 30px;
} 


.txt-home{
    text-align: center;
    margin-top: 10px;
    font-size: 9px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
.bg-light-color{
    --color: var(--ion-color-lightorange);
}


div.item {
    text-align: center;
    padding: 20px 0px 0px 0px;

}
img {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
}


.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.lbl-head{
    padding-left: 10px;
    padding-top: 10px;
}
.lbl-desc{
    padding-left: 5px;
    padding-top: 5px;
}


  .bg-yellow {
    background-color: #474747;
    padding: 10px;
  }
  .card-height {
    height: 80px;
    width: 100%;
    margin: 5px;
  }

  .bg-light-color{
    --color: var(--ion-color-light-contrast);
}

.lbl-head{
  padding-left: 10px;
  padding-top: 10px;
}
.lbl-desc{
  padding-left: 5px;
  padding-bottom: 0px;
}
.lbl-direction-right{
  width: 100%;
  text-align: right;
  padding: 5px;


}
.status-font-size{
  font-size: 15px;
}

.row-width-100{
  width: 100%; 
  margin: 10px; 
  text-align: right;
}

.card-header{
  padding: 5px;
}
.card-body{
  padding: 0.6rem;
}
p{
  font-size: 14px;
}
.row-reverse{
  flex-direction: row-reverse;
}

.btn-color{
  background-color: red;
  border-color: red
}

.btn-yellow-color{
  background-color: green;
  border-color: green

}
.margin-bottom{
  margin-bottom: 10px;
}
.h7{
  font-size: 15px;
}


.card-height-weight {
  width: 100%;
}