<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306681786638-r03asejp5ovli5u3pdfmac31r3qn84rp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306681786638-r03asejp5ovli5u3pdfmac31r3qn84rp</string>
	<key>API_KEY</key>
	<string>AIzaSyDbtns2JvtTTbkZpzVGiYuY-gfoQhNMPo0</string>
	<key>GCM_SENDER_ID</key>
	<string>306681786638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airei.milltracking.mypalm.mikk</string>
	<key>PROJECT_ID</key>
	<string>mms-airei</string>
	<key>STORAGE_BUCKET</key>
	<string>mms-airei.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306681786638:ios:9b8fdf1d3928912976275f</string>
	<key>DATABASE_URL</key>
	<string>https://mms-airei.firebaseio.com</string>
</dict>
</plist>