<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Search Supplier</ion-title>
  </ion-toolbar>

  <ion-toolbar class="bg-search-color">
    <ion-searchbar #search debounce="500" (ionChange)="_ionchange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of supplierlistArray | filter: searchtext" (click)="getvalue(item)">
      <ion-label style="font-size: 14px;">{{item.suppler_name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
